/JSP/nbproject/private/
/JSP/build/
/JSP/dist/
/OddEvenGame-master/build/
/OddEvenGame-master/nbproject/private/
/Java and Javabeans/build/
/Java and Javabeans/dist/
/Java and Javabeans/nbproject/private/
/A/build/
/A/nbproject/private/
/autocloseable/build/
/autocloseable/nbproject/private/